.div {
  display: block;
}

.row {
  width: 250px;
  margin: 0 auto;
}

.tile {
  position: relative;
  text-align: center;
  float: left;
  border-width: 2px;
  border-style: outset;
  height: 20px;
  width: 20px;
  background: lightgray;
  padding-left: 3px;
  cursor: pointer;
}